@import url(../css/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
}

*,
::before,
::after{
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

body, html {
  height: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.wrapper__img {  
  min-width: 1200px;
  position: absolute;
  filter: grayscale(1);
  left: 0;  
}

.wrapper__img--bot {
  margin-top: 316px;
}

.section__hero {
  margin-bottom: 191px;
}

.container {
  margin: 0 auto;
  width: 1140px;
  position: relative;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 583px;
}

.header {
  padding-top: 25px;  
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--aling--right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 264px;
  /* position: absolute;  
  top: 25px;
  left: 0; */
}

/* .menu {
  position: absolute;
  top: 28px;
  left: 420px;
} */

.contacts {
  /* position: absolute;
  top: 19px;
  right: 0; */
  font-style: normal;
  text-align: right;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 30px;
  align-items: start;
}

/* .menu__item {
  display: inline-block;
  vertical-align: super;
  margin-right: 62px;
}

.menu__item:last-child {
  margin-right: 0;
} */

.menu__link {
  font-size: 16px;
  text-decoration: none;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__info {
  font-size: 13px;
  text-decoration: underline;  
}

.contacts__desc {
  font-size: 11px;
}

.hero__text-section {
  width: 55%;  
}

.hero__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 18px;  
}

.hero__subtitle {
  font-size: 21px;
  margin-bottom: 73px;
}

.button {
  background: #8F00FF;
  border-radius: 5px;
  padding: 18px 39px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.section__offers {
  margin-bottom: 125px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.section__title--new {
  background: url("../img/new.png") no-repeat 328px;
}

.offers {
  display: flex;  
  justify-content: space-between;
}

.offers__item {
  min-height: 450px;
  background: #fff;
  border-radius: 6px;
  /* display: inline-block; */
  /* margin-right: 22px; */
  width: calc(100% / 3 - 18px);
  color: #000;
  display: flex;
  flex-direction: column;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 145px;
  margin-bottom: 0;
}

.offers__content {
  padding: 27px 19px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.offers__title {  
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 21px;

}

.offers__features {
  color: #666666;
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
}

.offers__features-cell {
  /* display: inline-block;
  vertical-align: top;
  width: 135px; */
  margin-right: 44px;
  margin-left: 2px;
}

.offers__features-cell:last-child {
  margin-right: 0;
}

.offers__feature {
  display: inline-block;
  vertical-align: middle;  
}

.offers__feature {
  margin-left: 5px;
}

.offers__text {
  color: #303030;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.offers__btn-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}

.button--light {
  background: #fff;
  border: 1px solid #8F00FF;
  /* border-radius: 5px; */
  padding: 16px 29px;
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  /* text-decoration: none; */
  /* display: inline-block; */
  /* font-size: 14px; */
  color: #8F00FF;
}

.button--light:hover {
  background: #8F00FF;
  color: #fff;
}  

.section__news {
  margin-bottom: 145px;
}

.news {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  /* width: 555px; */
  height: 394px; 
  margin-right: 2%;
  flex: 1; 
  /* display: inline-block;
  vertical-align: top; */
  position: relative;
  border-radius: 4px;
  overflow: hidden;
 
}

.news__item:last-child {
  margin-right: 0;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.news__text--content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 23px 29px;
  min-height: 140px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 11px;
  text-transform: lowercase;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination--theme--light {
  color: #000;
}

/* .pagination__display,
.pagination__list {
  display: inline-block;
  vertical-align: middle;
} */

.pagination__display {
  margin-right: 37px;
}

.pagination__list {
  display: flex;
  align-items: center;  
}

.pagination__item {
  text-align: center;
  /* display: inline-block;
  vertical-align: middle; */
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* position: relative; */
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.pagination__item--active .pagination__link {
  background: #8F00FF;
}

.pagination--theme--light .pagination__item--active .pagination__link {
  color: #fff;
}

.section__about {
  margin-bottom: 50px;
}

.about {
  display: flex;
}

.about:before, .about__desc {
  /* display: inline-block;
  vertical-align: top; */
  border-radius: 5px;
}

.about::before {
  content: "";   
  width: 489px;
  height: 505px;
  background: url("../img/mask_group.png") center center / cover no-repeat; 
  display: block; 
}

.about__desc {
  background: linear-gradient(to right, #2F00FF, #9289b8);
  padding: 71px 81px;
  max-width: 785px;
  min-height: 455px;
  margin-left: -138px;
  margin-top: 95px;   
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 32px;
}

.about__desc-text {
  margin-bottom: 38px;
  min-height: 100px;
}

.about__desc-text p {
  margin-bottom: 20px;
  line-height: 2.2;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}

.btn--wh {
  border: 1px solid #fff;   
}

.footer-container {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid rgb(63, 63, 63);  
}

.footer-container__section {
  height: 140px;
}

.footer {  
  position: relative;  
  /* margin-top: 25px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--aling--right {
  align-items: flex-end;
  align-items: center;
}

.footer__logo {
  margin-right: 131px;
}

.footer__menu {
  left: 288px; 
}

.socials {
  margin-right: 74px;
  /* top: 25px;
  right: 267px;
  position: absolute; */
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
  background-image: url("../img/telegram.png");
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url("../img/telegram-hover.png");
}

.socials__item--icon--vk .socials__link {
  background-image: url("../img/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url("../img/vk-hover.png");
}

.socials__item--icon--fb .socials__link {
  background-image: url("../img/fb.png");
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url("../img/fb-hover.png");
}

.socials__item--icon--inst .socials__link {
  background-image: url("../img/inst.png");
}

.socials__item--icon--inst .socials__link:hover {
  background-image: url("../img/inst-hover.png");
}

/* .main-page-wrapper {
  background: url("../img/top_pic.png") center top no-repeat, url("../img/bott_pic.png") center bottom 167px no-repeat;
} */


/* services page */

.top-line {
  min-height: 412px; 
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
  background: #17191C url("../img/head_serv.png") right 50% top no-repeat;
}

.top-line__container {  
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;   
}

.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 43px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: bold;  
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.page-content {
  background: #FFF;
  color: #303030;
  padding: 75px 0;
}

.services {
  margin-bottom: 41px;
}

.service {
  display: flex;
  padding: 24px 0;

}

.service__img {
  width: 44%;
  margin-right: 15px;
}

.service__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  /* margin-bottom: 30px; */
  color: #000;
  
}

.service__text {
  line-height: 1.7;
  /* margin-bottom: 30px; */
}

.service__button {
  padding: 18px 39px;
}

.inner-section {
  background: #fff;
  color: #1A1B1E;
  padding: 65px 0 65px; 
}

.inner-section--bg--gray {
  background: #F4F5F5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 55px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-left: 46px;
  margin-bottom: 26px;
  
}

.partners__item:nth-child(4n + 1) {
  margin-left: 0;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: start;
  filter: grayscale(1);
}

.partners__link:hover {
  filter: grayscale(0);
}

.inner-footer__container {
  padding-top: 50px;  
  height: 132px;
}

.inner-footer {
  margin-top: auto;
}

/* review page */

.reviews {
  column-count: 2;
  column-gap: 30px;
  margin-top: 27px;
  margin-bottom: 57px;
}

.reviews__item {
  margin-bottom: 20px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background: #F4F5F5;
}

.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.avatar {
  height: 139px;
  width: 139px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}

.review__user {
  display: flex;
  align-items: center;  
  font-size: 24px;
  font-weight: bold;
  color: #2E77A4;
  margin-bottom: 11px;  
}

.review__user:after {
  content: url(../img/avatars/vk-blue.png);
  height: 30px;  
  margin-left: 10px;
}

.review__tags {
  display: flex;
  align-items: flex-start;
}

.tag {
  font-size: 13px;
  color: #303030;
  padding: 8px 16px;
  border-radius: 50px;
  background: #B9EAE4;
}

.review__title {
  font-size: 30px;
  color: #1A1B1E;
  font-weight: bold;
  margin-bottom: 17px;  
}

.review__content-text {
  margin-bottom: 50px;
  color: #818181;
  line-height: 1.7;
}

.review__data {
  font-size: 14px;
  color: #1A1B1E;
  font-weight: bold;
}

.separator {
  background: #17191C url(../img/people.png) right 24% bottom no-repeat;
  min-height: 363px;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  color: #fff;
}

.separator__content {
  max-width: 40%;
}

.separator__title {
  font-size: 48px;
  font-weight: bold;  
}

.form__row {
  display: flex;
  margin-bottom: 30px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 5px;  
  border: none;
  background: #fff;
  padding: 22px 30px;
  font-size: 18px;
  color: #1A1B1E;
  border: 2px solid #fff;
}

.form__input:last-child { 
  margin-right: 0;
}

.form__input::placeholder {
  color: #666666;
 
}

.form__input--textarea {
  height: 235px;
}

.form__input:hover {
  border: 2px solid #8F00FF;
}

.form__controls {
  display: flex;
  margin-bottom: 16px;
}

.form__controls--title {
  width: 39%;
  font-size: 18px;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .contacts__tag {
  background: #303030;
  color: #E7E7E7;
}

.controls__checkbox {
  display: none;
}

.button--color--black {
  background: #2B2B2B;
}

.form__button {
  margin-right: 13px;
}

.form__button:last-child {
  margin-right: 0;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

/* welcome page */

.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(../img/center.png) center bottom / cover no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 1.5s;
  /* cubic-bezier(.01,.76,.43,1); */
  opacity: 0;
  animation-fill-mode: forwards;
}

.central__logo {
  margin-bottom: 35px;
  height: 70px;
  width: 315px;
}

.button__welcome {
  padding: 18px 59px;
}

@keyframes bounce {
  0 {
    transform: translateY(0);
  }

  20% {
    animation-timing-function: cubic-bezier(.01,.76,.43,1);
    transform: translateY(-30px);
  }

  35% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-15px);
  }

  65% {
    transform: translateY(0);
  }

  70% {
    transform: translateY(-4px);
  }

  80% {
    transform: translateY(0);   
  }

  100% {
    opacity: 1;
  }
}